/* SECCION PRODUCTOS */

/* TARJETAS DE PRODUCTOS */
.contenedor{
    background-image: url(../imgs/3879.jpg);
}
#articulo{
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: white -1px -1px 3px 3px;
    border: teal solid 5px;
    color: white;
    width: 80%;  
}

.historial{

    width: 15%;
    border: teal solid 2px;
    text-align: left;
    margin: 30px;
    float: right;
    
}

#productos {
    margin: 20px;
    display: flex;
    
    align-items: stretch;
}

.producto-card {
    margin: 5px;
    padding: 10px;
    border:white 2px solid;
    border-radius: 10px;
}

.producto-img {
    
    margin: 10px auto;
    border-radius: 10px ;
}

.producto-img img {
    border: white solid 2px;
    max-height: 10%;
    border-radius: 5px;
}

.producto-text {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.007);
   
    color:white;
    height: 50%;
    font-size: 2.0rem;
    font-weight: 100;
    bottom: 0;
}


/* SECCION NOSOTROS */

#nosotros {
    width: 95%;
    margin-left: 30px;
    border: white solid 2px;
    border-radius: 5px ;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: teal -0px -0px 10px 10px;
}
#nosotros head,b{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: white;
     margin-top: 107px;
}


/* TARJETAS DE PERSONAL */
.tarjeta{
    box-shadow: teal -0px -0px 4px 4px;
    margin: 2px;
    border: white solid 2px;
    border-radius: 5px 5px ;
    color: white;
    

    
}

.tarjeta img {
    box-shadow:teal -0px -0px 2px 2px;
    margin-top: 5px;
    width: 70%;
    border:black solid 0,5px;
    border-radius: 30%;
    
}

#contacto{

    margin-top: 20px;

    color: white;
}
#imgInicio img{
    
    height: 500px;
}
