header {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    color: cyan;
    text-shadow: darkcyan 1px 4px 2px;
}

nav {
    background-color: rgba(0, 139, 139, 0.856);
}

nav a {
    margin: 15px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
}
hr{
    border-radius: 50%;
    width:50% !important;
    margin: auto 20% !important;
    height: 10px !important;
    background-color: rgba(0, 139, 139, 0.856) !important;

}

section {
    
    
    padding: 10px;
}
 
img {
    width: 100%;
}

footer {
    background-color: rgba(0, 139, 139, 0.856);
    color: white;
    padding: 10px;
    text-align: center;
}
